---
import {SITE_INFO} from "@/constants/site-info.constant.ts";
import Image from "astro/components/Image.astro";
import {getCollection} from "astro:content";
import type {GetStaticPaths} from "astro";
import BlogLayout from "@/layouts/blogLayout.astro";
import BlogItem from "@/components/blog/blogItem.astro";
export const getStaticPaths = (async () => {
    const posts = await getCollection('blog')
    const authors = await getCollection('authors');
    return authors.map(author => ({
        params: {
            author: author.id
        },
        props: {
            blogPosts: posts.filter(post => post.data.author.id === author.id) ?? [],
            author: author.data
        }
    }));
}) satisfies GetStaticPaths;
const {blogPosts,author} = Astro.props
---

<BlogLayout title={SITE_INFO.title}>
    <section class="bg-gray-900">
        <div class="container px-6 py-10 mx-auto">
            <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
                {SITE_INFO.title}
            </h1>

            <div class="text-md text-gray-400 mb-0 flex flex-row mt-2">
                <Image
                        class="rounded-full"
                        src={author.avatar}
                        alt={author.name}
                        width={50}
                        height={50}
                />

                <div class="flex flex-col ml-5">
                    <a>{author.name}</a>
                    <span>Listado de todos mis posts</span>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
                {blogPosts.map((post) => <BlogItem post={post} />)}
            </div>
        </div>
    </section>
</BlogLayout>

<style is:global>
    @reference "tailwindcss";
    a {
        @apply text-blue-500 hover:underline;
    }
</style>