---
import type {GetStaticPaths} from "astro";
import BlogLayout from "@/layouts/blogLayout.astro";
import {getCollection, getEntry, render} from "astro:content";
import Image from "astro/components/Image.astro";
export const getStaticPaths = (async () => {
    const posts = await getCollection('blog')
    return posts.map(post => ({
        params: {
            id: post.id
        },
        props: {
            post
        }
    }));
}) satisfies GetStaticPaths;
const {post} = Astro.props
// const author= await getEntry('authors',post.data.author.id)
const {data: author} = await getEntry(post.data.author)
const {Content,headings} = await render(post);
---

<BlogLayout title={post.data.title}>
    <h1>{post.data.title}</h1>
    <p>{post.data.description}</p>
    <!--<p>{authorData.name}</p>-->
    <div class="text-md text-gray-400 mb-0 flex flex-row mt-2">
        <Image
                class="rounded-full"
                src={author.avatar}
                alt={author.name}
                width={50}
                height={50}
        />
        <div class="flex flex-col ml-5">
            <a href="#">{author.name}</a><span class="text-xs text-gray-200">{post.data.date}</span>
        </div>
    </div>
    <Image
            class="object-cover w-full h-[250px] my-5 rounded-lg lg:w-64"
            src={post.data.image}
            alt={post.data.title}
            width={600}
            height={220}
    />
    <h3>Tabla de contenidos</h3>
    <ol>
        {headings.map((heading,index) => <li>
            <a href={`#${heading.slug}`}>
                {index + 1} - {heading.text}
            </a>
        </li>)}
    </ol>
    <Content/>
</BlogLayout>
