---

import Layout from "@/layouts/Layout.astro";
import { Image,Picture } from 'astro:assets';
import PostO5 from "@/assets/images/post-05.png";
---

<Layout title="Imagenes">
    <h1  class="text-5xl">Imagenes</h1>
    <img src="/assets/images/post-05.png" alt="Imagen del post" width="250" height="250"/>
    <Image src={PostO5} alt="Imagen del post" width="250" height="250" quality="max" format="avif" />
    <Image src={PostO5} alt="Imagen del post" width="250" height="250" format="avif" />
    <Image src={PostO5} alt="Imagen del post" width="250" height="250" quality="max" />
    <Image src={PostO5} alt="Imagen del post" widths={[240,540,720,PostO5.width]} sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${PostO5.width}px`} />
    <Picture src={PostO5} formats={['avif', 'webp']} width="250" height="250" alt="A description of my image."/>
</Layout>